doctype html
html
  head
    // set viewport metadata for better display on mobile devices
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    title= title
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="/fontAwesome/css/fontawesome-all.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="/") Loc8r
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="/") Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="/other") About
    .container      

      block content
      
      footer
        .row
          .col-xs-12
            small &copy Ho Chi Minh 2018
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/bootstrap/js/bootstrap.js")
